%div#footer
  %div.footerMain
    %div.footerLeft
      %ul
        %a{:href => '#'}
          %li ABOUT
        %a{:href => '#'}
          %li FAQ
        %a{:href => '#'}
          %li WORK WITH US
    %div.footerRight
      %ul
        %li.footerMail
          %a{:href => 'https://www.facebook.com/', :target => '_blank'}
            %img{src: '/assets/img/mail.png', :href => '#'}
        %li.footerFacebook
          %a{:href => 'https://www.facebook.com/', :target => '_blank'}
            %img{src: '/assets/img/facebook.png', :href => '#'}
        %li.footerTwitter
          %a{:href => 'https://twitter.com/ononao0', :target => '_blank'}
            %img{src: '/assets/img/twitter.png', :href => 'https://www.facebook.com/'}

  %p Privacy Policy |  Terms and Conditions | © Company.LLC 2014
