%div#header
  %div.container
    %div.headerLeft
      %div.headerLogo
        %a{:href => '#'}
          %img{src: '/assets/img/header_logo.png'}
    %div.headerRight
      %ul.headerNav
        %a{:href => '#'}
          %li LABEL
        %a{:href => '#'}
          %li LABEL
        %a{:href => '#'}
          %li LABEL
        %a{:href => '#'}
          %li.signin.button.button-pill.button-flat-primary{:style => 'color: white; '} SIGN IN
